@import "tailwindcss";

@theme {
  --font-brand: "Neuton", ui-sans-serif, system-ui, sans-serif;
  --color-brand-white: #ffffff;
  --color-brand-offwhite: #f1f1ef;
  --color-brand-mid: #454545;
  --color-brand-dark: #0e0e0e;
  --color-brand-black: #000000;
  --color-text-white: #ffffff;
  --color-text-muted: #767676;
  --color-text-black: #000000;
}
